body
{
	background: rgb(181, 255, 146);
	text-align:center;
}

	.login_div1 , .login_div2
	{
		background: rgb(134, 136, 255);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(255, 114, 213);
border-radius: 10px;
border-top: 10px solid rgb(218, 68, 173);
padding: 10px;
float: none;
text-align: left;
}
